body {
  background: #f5f6f7;
  font-family: Arial, sans-serif;
}

.container {
  height: 630px;
  width: 400px;
  margin: 60px auto;
  padding: 70px;
  background: #fff;
  border-radius: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

p {
  font-size: 15px;
  margin: 6px 0 14px;
  color: #999;
}

.btn-wrap {
  display: flex;
  gap: 15px;
  margin-top: 24px;
}

.btn-wrap button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ccc;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
}

.submit {
  background: #bdbdbd;
  color: black;
}

.cancel {
  background: #e0e0e0;
  color: black;
}
