@import url("https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap");
/* font-family */
.ff1 {
  font-family: "돋움", "Noto Sans KR", sans-serif;
}
.ff2 {
  font-family: "궁서", serif;
}
.ff3 {
  font-family: "Changa One", sans-serif;
}
/* font-size */
.fs1 {
  font-size: 20px;
}
.fs2 {
  /* 부모 사이즈가 30px -> 30 * 2 = 60px */
  font-size: 2em;
}
.fs3 {
  /* 웹사이트 기준 기본 사이즈가 16px -> 16 * 2 = 32px */
  font-size: 2rem;
}
.fs4 {
  font-size: 2vw;
}
/* clamp(최소값, 기준값, 최대값) */
.fs5 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
/* font-weight */
.fw2 {
  font-weight: bold;
}
.fw3 {
  font-weight: 100;
}
/* line-height: 줄간격 */
.lh {
  line-height: 2;
}
/* letter-spacing : 글자 간격 */
.ls {
  letter-spacing: 5px;
}
/* text-align */
.ta1 {
  text-align: left;
}
.ta2 {
  text-align: center;
}
.ta3 {
  text-align: right;
}
/* color */
.c-name {
  /* 색상명 : 브라우저가 인식하는 기본 색상명 (Web Safe Colors 216가지) */
  color: red;
}
.c-16 {
  /* #RRGGBB */
  color: #5c618f;
}
.c-rgb {
  /* red(0~255), green(0~255), blue(0~255), alpha(투명도, 0~1) */
  color: rgb(69, 37, 158);
  background: rgba(0, 0, 0, 0.5);
}
.c-hsl {
  /* 색상환(0~360), 채도(0~100%), 밝기(0~100%) */
  color: hsla(200, 50%, 50%, 0.2);
}
/* text-decoration */
.td1 {
  text-decoration: underline;
}
.td2 {
  text-decoration: none;
}
.to {
  width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
