.box {
  height: 150px;
  border: 4px solid;
  padding: 20px;
  margin: 20px;
}

/* background-color */
.bg-color {
  background-color: teal;
}
/* background-clip : 범위 */
.clip {
  background-color: orange;
  border: 8px dashed;
}
.content-box {
  background-clip: content-box;
}
.padding-box {
  background-clip: padding-box;
}
.border-box {
  /* 기본값 */
  background-clip: border-box;
}

/* background-image */
.bg-image {
  background-image: url(../assets/panda.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* gradient */
.bg-gradient {
  background: linear-gradient(
    120deg,
    rgb(13, 214, 137),
    rgb(224, 47, 186),
    orange
  );
}
.bg-radial {
  background: radial-gradient(circle, #00c6ff, #0072ff);
}
