.box {
  background: lightblue;
  border: 2px solid;
  margin: 10px;
}
.fixed {
  width: 200px;
  height: 100px;
}
.parent {
  background: pink;
  height: 200px;
  /* 부모 높이가 정해져 있지 않으면 
        % height는 계산할 기준이 없다. */
}
.percent {
  width: 50%;
  height: 50%;
}
/* padding, margin */
.space {
  background: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}
#padding1 {
  padding: 20px;
}
#padding2 {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  /* top right bottom left */
  padding: 30px 20px 40px 10px;
  /* top right/left bottom */
  padding: 30px 20px 40px;
  /* top/bottom right/left */
  padding: 30px 20px;
}
#margin1 {
  margin: 20px;
}
/* margin collapse(상쇄) 현상 */
#margin2 {
  margin: 30px 15px 10px 30px;
}
#margin3 {
  width: 200px;
  margin: auto;
}
/* border */
.border {
  width: 100px;
  height: 100px;
  background: #eee;
}
/* border: 테두리굵기 유형 색상 */
#border1 {
  /* solid : 실선, dashed : 점선, dotted : 도트 */
  border: 3px dotted red;
}
#border2 {
  border: 5px solid green;
  border-radius: 10px;
}
#border3 {
  border: 4px solid orange;
  border-radius: 50%;
}
/* box-size */
.box-sizing {
  width: 300px;
  height: 200px;
  background-color: lightcoral;
  margin: 10px;
  border: 10px solid;
  padding: 20px;
}
.box-content {
  box-sizing: content-box;
}
.box-border {
  box-sizing: border-box;
}
